editor=code.cmd
engine-strict=true
init-author-email=contact@aassila.com
init-author-name=Younes Aassila
init-author-url=https://www.aassila.com/
init-license=UNLICENSED
init-version=0.0.1
message=⬆️ Bump version number to %s
save=true
sign-git-commit=true
